In [6]:
from api_caller import tradex_caller
from transactions import get_event_transactions,clean_transactions_df

In [7]:
import pandas as pd
# pd.set_option

In [15]:
resp1 = tradex_caller("transactions")
resp1_df = pd.DataFrame(resp1["transactions"])

In [37]:
resp1_df["probeid"] = (resp1_df["txnid"].str[-5:]).astype(int)
resp1_df[["mess1","mess2"]] = resp1_df["message"].str.split("\n",expand=True)

In [43]:
eid = 11929
event_txn_df = resp1_df[resp1_df["probeid"]==eid]

In [44]:
event_txn_df["mess2"].unique()

array(['Closed (Rs. 1335.00 credited)',
       ' Bought 15.00 shares x N (Rs. 89.00 each)',
       ' Sold 1.00 shares x N (Rs. 89.00 each)',
       ' Cancelled 5.00 shares x Y (Rs. 11.00 each)',
       ' Bought 3.00 shares x N (Rs. 89.00 each)',
       ' Sold 5.00 shares x Y (Rs. 13.00 each)',
       ' Cancelled 3.00 shares x N (Rs. 81.00 each)',
       ' Bought 5.00 shares x Y (Rs. 11.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 12.00 each)',
       ' Bought 3.00 shares x N (Rs. 81.00 each)',
       ' Bought 15.00 shares x Y (Rs. 12.00 each)',
       ' Cancelled 5.00 shares x Y (Rs. 12.00 each)',
       ' Sold 1.00 shares x N (Rs. 87.00 each)',
       ' Bought 13.00 shares x N (Rs. 88.00 each)',
       ' Cancelled 12.00 shares x N (Rs. 86.00 each)',
       ' Sold 2.00 shares x N (Rs. 87.00 each)',
       ' Bought 14.00 shares x N (Rs. 86.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 84.00 each)',
       ' Sold 1.00 shares x N (Rs. 85.00 each)',
       ' Bought 15.00 shares x N (Rs. 84.00 each)',
       ' Cancelled 14.00 shares x N (Rs. 84.00 each)',
       ' Sold 1.00 shares x Y (Rs. 9.00 each)',
       ' Sold 2.00 shares x Y (Rs. 10.00 each)',
       ' Sold 1.00 shares x Y (Rs. 10.00 each)',
       ' Sold 5.00 shares x Y (Rs. 10.00 each)',
       ' Sold 15.00 shares x N (Rs. 90.00 each)',
       ' Sold 5.00 shares x Y (Rs. 12.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 85.00 each)',
       ' Sold 4.00 shares x N (Rs. 86.00 each)',
       ' Bought 15.00 shares x N (Rs. 85.00 each)',
       ' Cancelled 11.00 shares x N (Rs. 85.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 79.00 each)',
       ' Bought 15.00 shares x N (Rs. 79.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 77.00 each)',
       ' Bought 15.00 shares x N (Rs. 77.00 each)',
       ' Bought 1.00 shares x Y (Rs. 13.00 each)',
       ' Bought 1.00 shares x Y (Rs. 18.00 each)',
       ' Sold 1.00 shares x Y (Rs. 18.00 each)',
       ' Cancelled 14.00 shares x N (Rs. 44.00 each)',
       ' Bought 15.00 shares x Y (Rs. 35.00 each)',
       ' Sold 1.00 shares x N (Rs. 45.00 each)',
       ' Bought 14.00 shares x N (Rs. 44.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 44.00 each)',
       ' Bought 15.00 shares x N (Rs. 44.00 each)',
       ' Cancelled 9.00 shares x N (Rs. 40.00 each)',
       ' Sold 3.00 shares x N (Rs. 40.00 each)',
       ' Bought 12.00 shares x N (Rs. 40.00 each)',
       ' Cancelled 12.00 shares x N (Rs. 39.00 each)',
       ' Bought 13.00 shares x N (Rs. 39.00 each)',
       ' Cancelled 11.00 shares x N (Rs. 39.00 each)',
       ' Sold 2.00 shares x N (Rs. 40.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 35.00 each)',
       ' Sold 1.00 shares x N (Rs. 56.00 each)',
       ' Cancelled 12.00 shares x N (Rs. 55.00 each)',
       ' Bought 15.00 shares x N (Rs. 55.00 each)',
       ' Cancelled 13.00 shares x N (Rs. 55.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 40.00 each)',
       ' Bought 15.00 shares x N (Rs. 40.00 each)',
       ' Sold 8.00 shares x N (Rs. 41.00 each)',
       ' Sold 10.00 shares x N (Rs. 41.00 each)',
       ' Sold 9.00 shares x N (Rs. 44.00 each)',
       ' Sold 2.00 shares x N (Rs. 68.00 each)',
       ' Sold 1.00 shares x N (Rs. 68.00 each)',
       ' Bought 15.00 shares x N (Rs. 67.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 29.00 each)',
       ' Bought 15.00 shares x Y (Rs. 29.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 26.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 60.00 each)',
       ' Bought 15.00 shares x Y (Rs. 26.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 25.00 each)',
       ' Bought 15.00 shares x N (Rs. 60.00 each)',
       ' Cancelled 1.00 shares x N (Rs. 60.00 each)',
       ' Bought 15.00 shares x Y (Rs. 25.00 each)',
       ' Sold 14.00 shares x N (Rs. 62.00 each)',
       ' Bought 1.00 shares x N (Rs. 60.00 each)',
       ' Sold 1.00 shares x N (Rs. 62.00 each)',
       ' Sold 1.00 shares x Y (Rs. 41.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 40.00 each)',
       ' Bought 15.00 shares x Y (Rs. 40.00 each)',
       ' Cancelled 14.00 shares x Y (Rs. 40.00 each)',
       ' Bought 15.00 shares x N (Rs. 61.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 57.00 each)',
       ' Bought 15.00 shares x N (Rs. 57.00 each)',
       ' Cancelled 13.00 shares x N (Rs. 53.00 each)',
       ' Sold 2.00 shares x N (Rs. 57.00 each)',
       ' Bought 13.00 shares x N (Rs. 53.00 each)',
       ' Cancelled 8.00 shares x N (Rs. 53.00 each)',
       ' Sold 5.00 shares x N (Rs. 57.00 each)',
       ' Bought 8.00 shares x N (Rs. 53.00 each)',
       ' Cancelled 3.00 shares x N (Rs. 53.00 each)',
       ' Bought 3.00 shares x N (Rs. 53.00 each)',
       ' Cancelled 2.00 shares x N (Rs. 53.00 each)',
       ' Sold 1.00 shares x N (Rs. 57.00 each)',
       ' Bought 2.00 shares x N (Rs. 53.00 each)',
       ' Bought 2.00 shares x N (Rs. 57.00 each)',
       ' Bought 15.00 shares x N (Rs. 56.00 each)',
       ' Cancelled 15.00 shares x N (Rs. 55.00 each)',
       ' Cancelled 15.00 shares x Y (Rs. 36.00 each)',
       ' Bought 15.00 shares x Y (Rs. 36.00 each)'], dtype=object)

In [64]:
resp2df = get_event_transactions(11929)

In [65]:
resp2df.loc[::-1].to_csv("trades_11929.csv")

In [49]:
resp2df["amount"].sum()

-1107.97

In [52]:
eids = [11926,11927,11928,11929]
tot = 0
for eid in eids:
    tempdf = get_event_transactions(eid)
    print(eid," ",tempdf["amount"].sum())
    tot += tempdf["amount"].sum()
print("total",tot)

11926   -781.4000000000005
11927   -1633.2100000000005
11928   -188.39999999999986
11929   -1107.97
total -3710.9800000000014

In [54]:
eids = [12025,12026,12027,12028]
tot = 0
for eid in eids:
    tempdf = get_event_transactions(eid)
    print(eid," ",tempdf["amount"].sum())
    tot += tempdf["amount"].sum()
print("total",tot)

12025   -124.22000000000025
12026   -2064.2199999999993
12027   -3994.4700000000003
12028   35.51000000000067
total -6147.4

In [59]:
import math

In [63]:
math.ceil(2.001)

3