In [1]:
from event_data_static import EventDataStatic
from pprint import pprint
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
eds = EventDataStatic("p",603727)

In [3]:
im_list = eds.get_live_im_event_ids()

In [27]:
event_det_list = []
for i in tqdm(im_list):
    all_data = eds.get_event_det_from_id(i)
    keys = ['auto_match', 'category','start_date', 'endsat', 'max_allowed_position', "nCP", "yCP", "subcategory", "title"]
    relv_data = {x:all_data[x] for x in keys}
    relv_data["eid"] = i
    # pprint(all_data)
    event_det_list.append(relv_data)

  0%|          | 0/76 [00:00<?, ?it/s]

In [28]:
event_det_df = pd.DataFrame(event_det_list)

In [29]:
event_det_df["price_diff"] = abs(event_det_df["yCP"] - event_det_df["nCP"])

In [30]:
event_det_df.sort_values(by="price_diff")

    auto_match  category                start_date                    endsat  max_allowed_position        nCP        yCP  subcategory                                              title    eid  price_diff
75        True      News  2022-03-23T14:10:00.000Z  2023-03-31T18:29:00.000Z                   NaN  50.010000  49.990000     Domestic               Hijab ban in Educational Institutes?   4689    0.020000
46        True      News  2023-01-04T18:30:00.000Z  2023-12-31T18:29:00.000Z               20000.0  49.739840  50.260160  Superstocks                                              Tesla  15515    0.520320
60        True      News  2022-12-21T11:30:00.000Z  2030-12-31T18:29:00.000Z               50000.0  49.571153  50.428847    Superstar                                         Babar Azam  14374    0.857694
26        True  Politics  2023-01-16T08:00:00.000Z  2024-09-20T18:29:00.000Z                3000.0  50.955434  49.044566        World  Donald Trump to win the U.S. 2024 Republican p...  16598    1.910868
12        True   Finance  2023-01-19T05:05:00.000Z  2023-01-19T10:01:00.000Z                2000.0  52.044761  47.955239      Indices  NIFTY BANK close price for today: ₹ 42367.45 o...  16880    4.089522
..         ...       ...                       ...                       ...                   ...        ...        ...          ...                                                ...    ...         ...
44        True     Media  2023-01-06T04:45:00.000Z  2023-02-10T18:29:00.000Z                2000.0   1.894878  98.105122       Movies  Thunivu Movie Box Office Collection by 10-Feb'...  15620   96.210244
8         True     Media  2023-01-19T05:35:00.000Z  2023-01-19T07:30:00.000Z                5000.0   1.818314  98.181686      YouTube  Jhoome Jo Pathaan Song YouTube views at 01:00 ...  16884   96.363372
65        True     Media  2022-12-12T10:25:00.000Z  2023-01-22T18:29:00.000Z                5000.0  98.320720   1.679280       Movies  Cirkus Movie Box Office Collection by 22-Jan'2...  13784   96.641440
36        True   Finance  2023-01-13T05:05:00.000Z  2023-01-19T12:30:00.000Z                2000.0   1.489873  98.510127       Metals  Weekly Average of “24K Gold Price in India” : ...  16299   97.020254
35        True   Finance  2023-01-13T05:05:00.000Z  2023-01-19T12:30:00.000Z                2000.0   0.820562  99.179438       Metals  Weekly Average of “Silver Price in India” : ₹7...  16300   98.358876

[76 rows x 11 columns]

In [8]:
event_det_df["category"].unique()

array(['Finance', 'Media', 'Sports', 'Politics', 'News'], dtype=object)

In [9]:
event_det_df[event_det_df["category"]=="Finance"].sort_values(by="price_diff")

,auto_match,category,start_date,endsat,max_allowed_position,nCP,yCP,subcategory,title,eid,price_diff
12,True,Finance,2023-01-19T05:05:00.000Z,2023-01-19T10:01:00.000Z,2000.0,54.342329,45.657671,Indices,NIFTY BANK close price for today: ₹ 42367.45 o...,16880,8.684658
11,True,Finance,2023-01-19T05:05:00.000Z,2023-01-19T10:01:00.000Z,2000.0,44.661829,55.338171,Indices,NIFTY50 close price for today: ₹ 18119.8 or more?,16881,10.676342
37,True,Finance,2023-01-09T04:45:00.000Z,2023-01-30T20:00:00.000Z,2000.0,41.076306,58.923694,Indices,Nasdaq Composite monthly price change for Jan'...,15907,17.847388
7,True,Finance,2023-01-19T05:39:00.000Z,2023-01-19T07:30:00.000Z,2000.0,40.962982,59.037018,Crypto,EUR USDT at 01:00 PM Today: 1.0798 or more?,16885,18.074036
34,True,Finance,2023-01-13T05:30:00.000Z,2023-01-19T12:30:00.000Z,2000.0,59.372139,40.627861,Agriculture,Weekly Average of “Daily Retail Price of Tomat...,16301,18.744278
1,True,Finance,2023-01-19T06:39:00.000Z,2023-01-19T08:30:00.000Z,2000.0,38.441473,61.558527,Crypto,DOGE USDT at 02:00 PM Today: 0.08088 or more?,16891,23.117054
0,True,Finance,2023-01-19T06:39:00.000Z,2023-01-19T08:30:00.000Z,2000.0,68.980468,31.019532,Crypto,GBP USDT at 02:00 PM Today: 1.235 or more?,16892,37.960936
41,True,Finance,2023-01-09T04:45:00.000Z,2023-01-31T10:00:00.000Z,2000.0,73.074794,26.925206,Indices,Nifty50 monthly price change for Jan'23: 3.4% ...,15901,46.149588
40,True,Finance,2023-01-09T04:45:00.000Z,2023-01-31T10:00:00.000Z,2000.0,74.594755,25.405245,Indices,Nifty Bank monthly price change for Jan'23: 4....,15904,49.189510
4,True,Finance,2023-01-19T05:39:00.000Z,2023-01-19T07:30:00.000Z,2000.0,18.908936,81.091064,Crypto,SHIB USDT at 01:00 PM Today: 0.00001110 or more?,16888,62.182128
3,True,Finance,2023-01-19T05:39:00.000Z,2023-01-19T07:30:00.000Z,2000.0,17.151003,82.848997,Crypto,BTC USDT will stay between the range of 20672....,16889,65.697994
6,True,Finance,2023-01-19T05:39:00.000Z,2023-01-19T07:30:00.000Z,2000.0,16.633605,83.366395,Crypto,MATIC USDT will stay between the range of 0.93...,16886,66.732790
39,True,Finance,2023-01-09T04:45:00.000Z,2023-01-31T10:00:00.000Z,2000.0,85.531703,14.468297,Indices,Nifty MidCap 50 monthly price change for Jan'2...,15905,71.063406
38,True,Finance,2023-01-09T04:45:00.000Z,2023-01-31T10:00:00.000Z,2000.0,85.589413,14.410587,Indices,Nifty SmallCap 50 monthly price change for Jan...,15906,71.178826
5,True,Finance,2023-01-19T05:39:00.000Z,2023-01-19T07:30:00.000Z,2000.0,12.410389,87.589611,Crypto,ETH USDT will stay between the range of 1512.7...,16887,75.179222
33,True,Finance,2023-01-13T05:30:00.000Z,2023-01-19T12:30:00.000Z,2000.0,96.203071,3.796929,Agriculture,Weekly Average of “Daily Retail Price of Potat...,16302,92.406142
32,True,Finance,2023-01-13T05:30:00.000Z,2023-01-19T12:30:00.000Z,2000.0,97.999743,2.000257,Agriculture,Weekly Average of “Daily Retail Price of Onion...,16303,95.999486
36,True,Finance,2023-01-13T05:05:00.000Z,2023-01-19T12:30:00.000Z,2000.0,1.475737,98.524263,Metals,Weekly Average of “24K Gold Price in India” : ...,16299,97.048526
35,True,Finance,2023-01-13T05:05:00.000Z,2023-01-19T12:30:00.000Z,2000.0,1.147232,98.852768,Metals,Weekly Average of “Silver Price in India” : ₹7...,16300,97.705536

# orders

In [10]:
from order import Order

In [31]:
order = Order(16842, 'p', 603727)

Logging orders to log_files/order7_57.log Testing:False

In [34]:
order._buy(message="dummy", asset="Y", price=None, qty=1, cmp=58, coins=60)

{'appVersion': 1058,
 'callvalue': 'Y',
 'coins': '60',
 'noofcontracts': 1,
 'preventSlippage': False,
 'probeid': 16842,
 'proptionid': 10,
 'ptype': 'bet',
 'tradeType': 'Buy',
 'trade_initiated_price': 58}
-----Buying  Y @RsNone qty1 in event 16842, message:dummy
api call response: ERROR message:Taking time. Please try again!

{'success': True,
 'status': 'ERROR',
 'message': 'Taking time. Please try again!'}

# Trade connect

In [ ]:
from trade